include LICENSE.txt
include README.rst
graft periodictable/xsf
include periodictable/f0_WaasKirf.dat
include periodictable/activation.dat
prune doc
prune doc/sphinx/_build
prune doc/sphinx/build
prune */__pycache__
prune */*/__pycache__
prune */*/*/__pycache__
prune build
prune dist
