include LICENSE.txt
graft doc
prune doc/sphinx/_build
prune doc/sphinx/build
prune */__pycache__
prune */*/__pycache__
prune */*/*/__pycache__
#recursive-exclude __pycache__ *
#exclude build dist *.pyc __pycache__/*
