name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ${{ matrix.cfg.os }}
    strategy:
      matrix:
        cfg:
          - { os: ubuntu-latest, py: 2.7 }
          - { os: ubuntu-latest, py: 3.6 }
          - { os: ubuntu-latest, py: 3.9, doc: 1 }
          - { os: windows-latest, py: 3.9 }
          - { os: macos-latest, py: 3.9 }

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python ${{ matrix.cfg.py }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.cfg.py }}

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel setuptools
        python -m pip install numpy scipy matplotlib pytest pytest-cov

    - name: Test with pytest
      run: |
        pytest -v

    - name: check that the docs build (linux only)
      if: matrix.cfg.doc == 1
      run: |
        python -m pip install sphinx
        make -j 4 -C doc/sphinx SPHINXOPTS="-W --keep-going" html